@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  background-image: url(starter-code/assets/home/background-home-desktop.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftcorner {
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.topright {
  color: whitesmoke;
  display: flex;
  gap: 50px;
  backdrop-filter: blur(30px);
  padding: 20px;
  width: 800px;
  align-items: center;
  padding-left: 50px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 700px;
  height: 2px;
  background-color: rgb(172, 165, 165);
  margin-right: -300px;
  z-index: 5;
}

h4 {
  position: absolute;
  font-size: 30px;
  color: rgb(223, 220, 220);
  margin-top: 100px;
  top: -20%;
}
h1 {
  font-size: 150px;
  color: white;
  font-family: "Poiret One", sans-serif;
}

.middleleft {
  position: absolute;
  top: 35%;
  left: 20%;
}
.pppp {
  color: rgb(192, 187, 187);
  position: absolute;
  width: 300px;
  bottom: -40%;
}
.ball {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  right: 15%;
  bottom: 20%;
}
.baller {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}
