body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 140px 140px 70px 120px 140px;
  grid-template-areas:
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box4 box5 box3"
    "box6 box4 box5 box3"
    "box6 box7 box8 box8";
  gap: 20px;
}

.grid-container .first {
  grid-area: box1;

  background-color: red;
}
.grid-container .second {
  grid-area: box2;
  background-color: rgb(0, 255, 42);
}
.grid-container .third {
  grid-area: box3;
  background-color: rgb(251, 255, 0);
}
.grid-container .forth {
  grid-area: box4;
  background-color: rgb(255, 136, 0);
}
.grid-container .fifth {
  grid-area: box5;
  background-color: rgb(247, 0, 255);
}
.grid-container .sixth {
  grid-area: box6;
  background-color: rgb(98, 0, 255);
}
.grid-container .seventh {
  grid-area: box7;
  background-color: rgb(0, 0, 0);
}
.grid-container .eight {
  grid-area: box8;
  background-color: rgb(140, 0, 255);
}

@media (max-width: 1000px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .grid-container div {
    padding: 10px;
  }
}
